/*@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');*/

:root {
  /* color */
  --color-white: #ffffff;
  --color-light-grey: #bdbdbd;
  --color-light-grey2: #d8d5d5;
  --color-black: #000000;
  --color-dark-grey: #4a4d4b;
  --color-grey: #959695;
  --color-light-green: #4ec84e;
  --color-green: #2f992f;
  --color-deep-green: #167716;
  --color-skyblue: #bcc6c7;
  --color-skyblue2: #c9d0d1;
  --color-light-yellow: #ebf1d1;

  /* font size */
  --font-large: 35px;
  --font-medium: 28px;
  --font-regular: 25px;
  --font-small: 16px;
  --font-micro: 14px;

  /* size */
  --size-border-radius: 4px;

  /* animation */
  --animation-duration: 300ms;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

/* universal tags */

* {
  box-sizing: border-box;
  font-family: 'Gowun Batang', serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-regular);
  color: #000;
  margin: 16px 0 0 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  color: #000;
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: #000;
  margin: 8px 0;
}

span {
  font-size: 18px;
}

p {
  font-size: 25px;
  font-weight: var(--weight-regular);
  color: #000;
  margin: 20px 8px 0 0;
  line-height: 45px;
}
.dot{
  position: relative;
  margin-left: 30px;
}

.mb{
  margin-bottom: 5px;
}

.dot:before{
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  background: #000;
  position: absolute;
  border-radius: 50%;
  top: 11px;
  left: -10px;
}

.title {
  display: inline-block;
  background-color: rgb(175 200 220);
  border-radius: 50%;
  width: 200px;
  height: 100px;
  line-height: 100px;
  color: #fff;
  margin-bottom: 10px;
}

.bold{
  font-weight: bold;
}

/* navbar */

#navbar {
  box-shadow: 2px 7px 11px 0 rgb(0 0 0 / 14%);
  background:#fff;
  color: #000;
  position: fixed;
  width: 100%;
  z-index: 2;
  transition: all var(--animation-duration) ease;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
}
.navbar__menu {
  display: flex;
  justify-content: center;
  color: rgb(67, 104, 129);
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 8px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
  border: 1px solid rgb(192 209 224);
  transition: all var(--animation-duration) ease;
}

.navbar__menu__item:hover {
  background-color: rgb(192 209 224);
  border-radius: var(--size-border-radius);
  color: #fff;
}

/* Home */

#home {
  padding: 110px 0 0px 0;
  text-align: center;
  opacity: 1;
}

#home > .section__container{
  border-bottom: 2px solid #cbcbcb;
}

.home__avatar {
  width: 200px;
  height: auto;
  /* height: 200px; */
  border-radius: 40px;
  /* border: 1px solid var(--color-light-grey); */
}

.home__title,
.home__description {
  color: var(--color-black);
  margin-top:10px;
}

.description > div{
  width: 240px;
  margin: 0 auto;
  text-align: left;
}

.phone{
  margin-top:5px;
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid rgb(192 209 224);
  border-radius: var(--size-border-radius);
  color: #000;
}

.home__contact:hover {
  background-color: rgb(192 209 224);
  color: #fff;
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink-effect 1.5s step-end 2;

  /*
  animation-name: blink-effect;
  animation-duration: 1s;
  animation-iteration-count:infinite;
  animation-timing-function:step-end;
  */
}

/* section common*/

.section {
  text-align: center;
  margin: auto;
  padding: 50px;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* about */

#about{
  padding:0 50px 120px 50px;
}

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;

  border: 1px solid var(--color-light-grey);
  border-radius: 50%;
  margin-bottom: 16px;
  color: var(--color-black);
}

.major__icon:hover i {
  color: var(--color-dark-grey);
  transform: rotate(20deg) scale(1);
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}

.aboutIntro{
  text-align: left;
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.aboutIntro> div{
  
  width: 560px;
}

/* career*/

#career {
  background: url('./img/cloud.jpg') no-repeat center/cover;
  padding: 60px 0 100px 0;
  margin: 0;
  background-color: #f1f6f4;
}

.careerContainer{
  width: 1200px;
  height: 650px;
  margin:0 auto;
  margin-top:20px;
  border-radius: 10px;
  padding: 10px;
  display:flex;
  justify-content: space-between;
  backdrop-filter: blur(40px);
  border-radius: 37px;
  background: rgb(255,255,255,0.8);
  box-shadow: 10px 10px 0px 0 rgb(0 0 0 / 15%);

  border-top: 2px solid rgba(255, 255, 255, .4);
  border-left: 2px solid rgba(255, 255, 255, .4);
  border-right: 3px solid rgba(255, 255, 255, .32);
  border-bottom: 3px solid rgba(255, 255, 255, .32);
}

.careerSection{
  width: 550px;  
}

.careerSection>div{
  text-align: left;
}

.careerSection>div>div{
  margin-bottom: 30px;

}

.nbsp{
  padding-left: 5px;
}

.underline{
  padding: 7px 8px 7px 5px;
  border-bottom: 2px solid #9caebe;
  text-align: left;
  position: relative;
  display: flex;  
  margin-bottom: 20px;
}

.underContent{
  text-align: left;
}

.underline:before{
  content: "";
  display: inline-block;
  width: 88px;
  height: 8px;
  background: #9caebe;
  position: absolute;
  top: 35px;
  left: 0;
  border-radius: 10px;
}

.bckgd-globe1,
    .bckgd-globe2 {
      position: absolute;
      width: 400px;
      height: 400px;
      background-image: linear-gradient(rgb(0, 127, 185), rgb(140, 103, 209));
      border-radius: 500px;
    }

/*education*/

#education {
  padding: 60px 0 100px 0;
  margin: 0;
  backgroud-color: #fff;
}

/* skills */

#skills {
  padding: 60px 0 100px 0;
  margin: 0;
  background-color:#f4f6f5;
}

.skillset {
  display: flex;
  background-color: var(--color-grey);
  margin: 50px 10px 0 0;
  color: black;
}
.skillset__title {
  color: black;
}

.skillset-left {
  flex-basis: 60%;
  padding: 20px 40px;
  background-color: var(--color-grey);
}

.skillset-right {
  flex-basis: 40%;
}

.tools,
.etc {
  background-color: var(--color-grey);
  padding: 20px;
}

.skill {
  margin-bottom: 12px;
}

.skillset__title {
  font-weight: var(--weight-semi-bold);
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-light-grey);
  margin-top: 5px;
}

.skill__value {
  height: 3px;
  background-color: var(--color-dark-grey);
}

/* work */

#work {
  padding: 55px 0px;
  
}

.category__btn {
  border: 1px solid rgb(175, 200, 220);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}

.work__categories {
  margin: 40px;
}

.category__btn.active,
.category__btn:hover {
  background-color: rgb(175, 200, 220);
  color: #fff;
}

.category__count {
  background-color: rgb(124, 150, 171);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  position: relative;
  top: -20px;
  left: 4px;
  transition: all var(--animation-duration) ease-in;
  opacity: 0;
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
  position: relative;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.9) translateY(40px);
}

.projectTempDiv{
  width: 277px;
  /* border: 1px solid rgb(212, 211, 211); */
  display: inline-block;
  height: 80px;
}

.projectThumb{
  width: 100%;
  height: 156px;
   object-fit: cover;
    border-radius: 3px;
    cursor:pointer;
}

.project.invisible {
  display: none !important;
}

.backProject{
  position: relative;
  width: 280px;
  height: 250px;
  border:1px solid rgb(206, 206, 206);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--size-border-radius);
  margin-right: 10px;
  margin-bottom: 10px;  
  cursor:pointer;
  flex-direction: column;
}


.project {
  position: relative;
  width: 280px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--size-border-radius);
  margin-right: 10px;
  margin-bottom: 10px;
  border:1px solid rgb(206, 206, 206);

}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.backProject__description {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(35, 73, 35);
  width: 100%;
  height: 100%;
  opacity: 0;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all var(--animation-duration) ease-in;
  transform: translateY(20px);
  border-radius: var(--size-border-radius);
}

.project__description {
  position: absolute;
  bottom:0;
  left: 0;
  background-color: rgb(35, 73, 35);
  width: 100%;
  height: 50%;
  /* opacity: 0; */
  opacity: 0.8;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all var(--animation-duration) ease-in;
  border-radius: var(--size-border-radius);
}

.project__description h3 {
  color: var(--color-white);
}

.backProject:hover .project__description {
  transform: translateY(0px);
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

/* contact */
/* 
#contact {
  background-color: #b2bdb9;
}

.contact__title,
.contact__email,
.contact__rights,
.contact__num {
  color: var(--color-black);
}
.contact__email {
  padding-top: 10px;
}

.contact__title {
  display: inline;
  margin: 32px;
  position: relative;
}

.contact__title:after {
  content: "";
  left: -60px;
  height: 1px;
  width: 300px;
  background-color: black;
  position: absolute;
  top: 75px;
}

.contact__links {
  font-size: var(--font-medium);
  margin: 12px 0;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-grey);
}

.contact__links i {
  transition: all var(--animation-duration) ease;
} */

.navbar__toggle-btn {
  position: absolute;
  right: 32px;
  top: 9px;
  display: none;
  font-size: 20px;
  color: var(--color-black);
}

.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 50px;
  color: var(--color-black);
  background-color: #fff;
  border: 1px solid;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  line-height: 70px;
  opacity: 0;
  pointer-events: none;
  transition: all var(--animation-duration) ease;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}


/*skill graph*/
/* Mixings &  Variables */
.clearfix,
.clearfix:before,
.clearfix:after {
  display: block;
  content: " ";
  clear: both;
  zoom: 1;
}
/* Resets */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrap {
  margin: 0 auto;
  padding: 50px;
  max-width: 1200px;
}
/* Bar Graph Class */
.barGraph {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.barGraph.stack ul{
  height: 700px !important;
  overflow: scroll;
}

.barGraph.stack li{  
  padding: 20px;
  width: 950px;
  border-radius: 10px;
  margin:0 auto;
  margin-bottom: 20px;
  border-radius: 37px;
  background: #ffffff;
  box-shadow:  5px 5px 1px #e0e0e0,
               -5px -5px 1px #ffffff;
}

.barGraph.stack li:hover{
  border-radius: 37px;
background: #ffffff;
box-shadow: inset 5px 5px 1px #e0e0e0,
            inset -5px -5px 1px #ffffff;
}

.hashTag{
  color: #1b6f74;
  display: inline-block;  
  background: rgb(220, 239, 255);
  padding: 6px;
  margin: 0px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.hashTag i,.hashTag img{  
  margin-right: 10px;
}
.graph {
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: calc(85% - 4%);
  left: 12%;
}
.graph-barBack {
  border-radius: 2px;
  background: #DAE4EB;
  margin-bottom: 10px;
  display: block;
}
.graph-bar {
  background-color: #93bedf;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  display: block;
  height: 20px;
  width: 0%;
}
.graph-bar:hover {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #7797b0;
}
.graph-bar:last-child {
  margin-bottom: 0;
}
.graph-bar:after {
  position: absolute;
  content: attr(data-value);
  display: none;
  font-size: 12px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  line-height: 20px;
  height: 20px;
  padding: 0 10px;
  margin-left: 5px;
  left: 100%;
  top: 0;
}
.graph-bar:hover:after {
  display: block;
}
.graph-legend {
  position: absolute;
  margin-right: 10px;
  left: -100px;
}
/* Bubble Chart */
.chart {
  border-radius: 3px;
  border: 2px solid rgba(113, 125, 149, 0.45);
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
}
.chart-bubble {
  overflow: hidden;
  background-color: #59BAC0;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  position: absolute;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  min-height: 10px;
  min-width: 10px;
  bottom: 0;
  left: 0;
}
.chart-bubble:hover {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #428D92;
}
.chart-bubble:after {
  position: absolute;
  content: attr(data-label);
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 50%;
  line-height: 1px;
  font-size: 15px;
  color: #fff;
}
.chart-bubble:hover:after {
  display: block;
}
/* Lines for Charts */
.lines {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  left: 0;
  top: 0;
}
.lines-horz {
  border-bottom: 1px dashed rgba(113, 125, 149, 0.4);
  position: absolute;
  width: 100%;
  height: 0px;
}
.lines-horz:nth-of-type(1) {
  top: 20%;
}
.lines-horz:nth-of-type(2) {
  top: 40%;
}
.lines-horz:nth-of-type(3) {
  top: 60%;
}
.lines-horz:nth-of-type(4) {
  top: 80%;
}
.lines-vert {
  border-right: 1px dashed rgba(113, 125, 149, 0.4);
  position: absolute;
  height: 100%;
  width: 1px;
}
.lines-vert:nth-of-type(5) {
  left: 20%;
}
.lines-vert:nth-of-type(6) {
  left: 40%;
}
.lines-vert:nth-of-type(7) {
  left: 60%;
}
.lines-vert:nth-of-type(8) {
  left: 80%;
}
/* Line Graph */
.lineChart {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 3px;
  border: 2px solid rgba(113, 125, 149, 0.45);
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
}
.lineChart svg {
  position: absolute;
}
.lineChart circle {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  cursor: pointer;
  stroke: #59BAC0;
  stroke-width: 3;
  fill: #59BAC0;
}
.lineChart circle:hover {
  stroke-width: 8;
}
.lineChart line {
  stroke: #717D95;
  stroke-width: 4;
}
.trend line {
  stroke: rgba(204, 51, 51, 0.8);
}


#wrap {                          
  border: 1px solid red;              
  width: 100%;              
  min-height: 768px;              
  position: relative;              
}              
.mask {              
  position: absolute;  
  top: 0;
  left: 0;    
  background-color: rgb(80, 80, 80);
  display: none;
  z-index: 1;
  width: 2791px;
}    
.ModalPopup {
  display: block;
  position: fixed;
  top: 53% !important;
  left: 50% !important; 
  transform: translate(-50%, -50%);
    width: 85vw;
    height: 80vh;
    z-index: 10000;
    background-color: #fff;
    display: none;
    border-radius: 10px;
    overflow: scroll;
    max-width: 1200px;
}

.modalTitle{
  font-size: 32px;
    font-weight: bold;
    text-align: center;
    max-width: 1200px;
    padding-top: 30px;
}

.modalTitleCont{
  display: flex;
  padding-top: 20px;
  padding-left: calc(126px + env(safe-area-inset-left));
    padding-right: calc(126px + env(safe-area-inset-right));
    max-width: 100%;
    width: 100%;
    justify-content: flex-start;
}

.modalTitleCont >div{
  text-align: left;

}

.divBar{
  width: 70%;
  height: 1px;
  background: rgba(55, 53, 47, 0.09);
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  margin: 30px auto;
}

.flex{
  display: flex;
  width: 150px;
  align-items: center;
}

.pl{
  padding-left: 10px;
}

/*모달안쪽*/
.modalContainer{
  max-width: 1200px;
  margin:0 auto;
  padding:0 50px;
}
.introFlex{
  margin:30px 0;
  display: flex;
  justify-content: space-evenly;
}

.contBox{
  margin-top: 20px;
  width: 330px;
  height: 220px;
  border: 1px solid rgb(212, 211, 211);
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.contBox:hover{
}

.contBox >img{
 width: 80%;
 height: auto;
 top: 10%;
 position: relative;

}

.contBox > div{
  width: 300px;
    position: relative;
    top: 13%;
    text-align: left;
}

.contBox >div>span:nth-of-type(1){
  height: auto;
  top: 15%;
  position: relative;
 font-size: 13px;
 text-align: left;
 }
 .contBox>div >span:nth-of-type(2){
  height: auto;
  top: 13%;
  position: relative;
 font-size: 12px;
 color:gray;
 }

.contBox.eq2 img{
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 5px 5px 0 0;
}

.tempDiv{
  width: 330px;
  border: 1px solid rgb(212, 211, 211);
  display: inline-block;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 5px 5px; 
  cursor:pointer;
}
.tempDiv:hover{
  background-color: rgb(212, 211, 211);
}


.tempDiv >a{
font-size: 14px;
padding-left: 5px;
 
 }

.divMargin{
  margin: 80px 30px 20px 30px;
  display:block;
}

.textLeft{
  text-align: center;
}

/*swiper*/


      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        flex-direction: column;
      }

      .swiper-slide img {
        display: block;
        height: 100%;
        width: 650px;
      }

      .swiper-wrapper{
        height:auto !important;
      }

      .swiper-pagination{
      }

      .swiper-button-next, .swiper-rtl {
        left: auto;
    }

    .swiper-backface-hidden .swiper-slide{
      width: 800px;
      top: 10px;
    }

   .swiper-pointer-events{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 600px;
    top: -50px;  
   }

   .tempTop{
    z-index: 3;
   }
   @media screen and (max-width: 912px) {
    .navbar__toggle-btn {
      display: block;
    }
    #navbar {
      flex-direction: column;
      align-items: flex-start;
    }
    .navbar__menu {
      flex-direction: column;
      text-align: center;
      width: 100%;
      display: none;
    }
  
    .about__majors {
      flex-direction: column;
    }
  
    .major {
      margin-bottom: 38px;
    }
  
    .skillset {
      flex-direction: column;
    }
  
    .project {
      flex-grow: 1;
    }
  
    .aboutIntro {
      flex-direction: column;
  }
  
  .careerContainer{
    flex-direction: column;
    width: 680px;
    height: 630px;
    overflow: scroll;
    position: relative;
    left: -29px;
  }
  
  .barGraph.stack li{
    width: 590px;
  }
  .dot{
    margin-left: 10px;
  }
  .work__categories{
    display: flex;
      flex-direction: column;
      left: -31px;
      position: relative;
  }
  
  .work__projects{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ModalPopup.res{
    width: 85vw !important; 
  }
  .introFlex{
    transform:scale(0.8);
  }
  
  .introFlex>div:nth-of-type(1){
    margin-right: 10px;
  }
  
  .introFlex>div:nth-of-type(2){
    margin-left: 10px;
  }
  
  .youtube-iframe{
    width: 550px !important;
    height: 350px !important; 
  }
  
  .notionTitle{
    margin: 0 auto !important;
    padding-left: calc(86px + env(safe-area-inset-left)) !important;
    padding-right: calc(56px + env(safe-area-inset-right)) !important;
    max-width: 100%;
    width: 100%;
  }
  .tempResponsive{
    width: 550px !important;
  }
  
  video{
    width: 550px !important;
    height: 350px !important; 
  }
  
  .ModalPopup.res{
    left: 30% !important;
    top: 67% !important;
  }
  
  } 

 
@media screen and (max-width: 820px) {
  .navbar__toggle-btn {
    display: block;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .about__majors {
    flex-direction: column;
  }

  .major {
    margin-bottom: 38px;
  }

  .skillset {
    flex-direction: column;
  }

  .project {
    flex-grow: 1;
  }

  .aboutIntro {
    flex-direction: column;
}

.careerContainer{
  flex-direction: column;
  width: 680px;
  height: 630px;
  overflow: scroll;
  position: relative;
  left: -29px;
}

.barGraph.stack li{
  width: 590px;
}
.dot{
  margin-left: 10px;
}
.work__categories{
  display: flex;
    flex-direction: column;
    left: -31px;
    position: relative;
}

.work__projects{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ModalPopup.res{
  width: 85vw !important; 
}
.introFlex{
  transform:scale(0.8);
}

.introFlex>div:nth-of-type(1){
  margin-right: 10px;
}

.introFlex>div:nth-of-type(2){
  margin-left: 10px;
}

.youtube-iframe{
  width: 550px !important;
  height: 350px !important; 
}

.notionTitle{
  margin: 0 auto !important;
  padding-left: calc(86px + env(safe-area-inset-left)) !important;
  padding-right: calc(56px + env(safe-area-inset-right)) !important;
  max-width: 100%;
  width: 100%;
}
.tempResponsive{
  width: 550px !important;
}

video{
  width: 550px !important;
  height: 350px !important; 
}

.ModalPopup.res{
  left: 30% !important;
  top: 67% !important;
}

} 

   
@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .about__majors {
    flex-direction: column;
  }

  .major {
    margin-bottom: 38px;
  }

  .skillset {
    flex-direction: column;
  }

  .project {
    flex-grow: 1;
  }

  .aboutIntro {
    flex-direction: column;
}

.careerContainer{
  flex-direction: column;
  width: 680px;
  height: 630px;
  overflow: scroll;
}

.barGraph.stack li{
  width: 590px;
}
.dot{
  margin-left: 10px;
}
.work__categories{
  display: flex;
    flex-direction: column;
}

.work__projects{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ModalPopup.res{
  width: 85vw !important; 
}
.introFlex{
  transform:scale(0.8);
}

.introFlex>div:nth-of-type(1){
  margin-right: 10px;
}

.introFlex>div:nth-of-type(2){
  margin-left: 10px;
}

.youtube-iframe{
  width: 550px !important;
  height: 350px !important; 
}

.notionTitle{
  margin: 0 auto !important;
  padding-left: calc(86px + env(safe-area-inset-left)) !important;
  padding-right: calc(56px + env(safe-area-inset-right)) !important;
  max-width: 100%;
  width: 100%;
}
.tempResponsive{
  width: 550px !important;
}

video{
  width: 550px !important;
  height: 350px !important; 
}

.ModalPopup.res{
  left: 30% !important;
}

}



@media screen and (max-width: 412px) {
  .aboutIntro>div{
    width: 350px;
  }

  .careerContainer{
    width: 380px;
  }

  .careerSection{
    width: 320px;
  }

  #skills .wrap{
    padding: 50px;
  }

  .graph-legend{
    left: -70px !important;
    font-size: 13px;
  }

  .careerContainer{
    height: 700px;
  }

.barGraph.stack li{
  width: 300px;
}

.ModalPopup.res{
  left:17% !important;
}

.ModalPopup{
  top: 68% !important;
}

.notionTitle{
  padding-left: calc(26px + env(safe-area-inset-left)) !important;
    padding-right: calc(6px + env(safe-area-inset-right)) !important;
}
.introFlex {
  transform: scale(0.43);
}
.introFlex.none {
  transform: scale(1);
}
.youtube-iframe {
  /* width: 260px !important; */
  /* height: 210px !important; */
  transform: scale(0.6);
  left: -149px;
  position: relative;
}
.tempResponsive {
  width: 270px !important;
}
video {
  width: 260px !important;
  height: 170px !important;
}
}
